//Primary brand colors
@red:         #d23138;
@black:       #28262e;
@dark-green:  #32783b;
@light-blue:  #d6e4ec;

.wrapper {
  width: 100px * 8;
}
h1, h2 {
  color: @black;
}
strong {
  color: @red;
}
.box {
  background-color: @light-blue;
  //border: 1px solid darken(@light-blue, 50%);
  .border(solid, 2px, blue);
  padding: 20px;
}


.border (@width: 1px, @style: solid, @color: black) {
  //border: @width @style @color;
  border: @arguments;
}
