<h1>Shapes</h1>
<div class="wrapper">

  <div class="circle one"></div>
  <div class="circle two"></div>
  <div class="box one"></div>
  <div class="box two"></div>
  <!--  --><div class="box three">
    <div class="circle one"><div class="circle pupil"></div></div>
    <div class="circle two"><div class="circle pupil"></div></div>
    <div class="circle three"></div>
    <div class="circle four"></div>
  </div>
  <div class="triangle one"></div>
  <div class="triangle two"></div>


  <!-- --><div class="search-pod one">
    <div class="search-content">
      <h4>Hello From Pod 1</h4>
      <p>Itaque earum rerum hic tenetur</p>
    </div>
    <div class="ellipse"></div>
  </div>
  <div class="search-pod two">
    <div class="search-content">
      <h4>Hello From Pod 2</h4>
      <p>Temporibus autem quibusdam</p>
    </div>
    <div class="ellipse"></div>
  </div>
  <div class="search-pod three">
    <div class="search-content">
      <h4>Hello From Pod 3</h4>
      <p>Et harum quidem rerum</p>
    </div>
    <div class="ellipse"></div>
  </div>
</div>
